<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>129391118948-np9sb6i7it9g8087p3tfdtqpkgsorion.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.129391118948-np9sb6i7it9g8087p3tfdtqpkgsorion</string>
	<key>API_KEY</key>
	<string>AIzaSyDHFtq-XtSfje23Y10OBXFEK0HgsaMJQac</string>
	<key>GCM_SENDER_ID</key>
	<string>129391118948</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dreamapp.templeMandhiram</string>
	<key>PROJECT_ID</key>
	<string>mandhiram-temple1</string>
	<key>STORAGE_BUCKET</key>
	<string>mandhiram-temple1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:129391118948:ios:4f218aa1275d8d9c04ed71</string>
</dict>
</plist>